p.caption {
  color: #777;
  margin-top: 10px;
}
p.fignote {
  text-align: left;
  font-size: 90%;
}
table caption span {
  font-weight: bold;
  font-style: normal;
}
table caption {
  font-style: italic;
  text-align: left;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.book .book-header h1 {
  opacity: 1;
}

#header h1.title {
  text-align: center;
}


#dummy-title h1 {
  visibility: hidden;
}

#acknowledgements h1 {
  display: none;
}

h1.blank {
  display: none;
}

#dummy-title p {
  text-align: center;
}

h2.subtitle {
  text-align: center;
  font-style: italic;
}

p.date {
  text-align: center;
  font-weight: bold;
  font-style: normal;
}

#acknowledgements table tbody tr td {
  border:0;
}

.hangingindent {
  padding-left: 27pt;
  text-indent: -27pt;
}

.hanging-indent {
  padding-left: 27pt;
  text-indent: -27pt;
}

.hanging-indent .csl-entry {
  margin-bottom: .85em;
}

#references p {
  padding-left: 27pt;
  text-indent: -27pt;
}

.disclaimer p {
  color: rgb(91,155,213);
  text-align: center;
  font-style: italic;
  margin-left:auto;
  margin-right:auto;
  width: 80%;
}

#assessment hr {
  background-color: rgb(91,155,213);
}

/* Footnote formatting */
label sup {
  color: #2B4098;
}

#fn-content {
  font-size: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left:auto;
  margin-right:auto;
  width: 90%;
}

/* The next two rules make the horizontal line go straight across in top navbar */
.summary > li:first-child {
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0,0,0,.07);
}

.book .book-summary ul.summary li.divider {
    height: 0px;
}

/* Colors */
.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active>a {
    color: #2B4098;
    background: 0 0;
    text-decoration: none;
}

.book .book-body .page-wrapper .page-inner section.normal a {
    color: #2B4098;
    text-decoration: none;
    background: 0 0;
}
