/* Defaults */
h1, h2, h3 {
  font-family: 'Montserrat';
  font-weight: bold;
  color: #165C7D;
}
a, a > code {
  color: #f2a900;
  text-decoration: none;
}
.footnote {
  position: absolute;
  bottom: 6em;
  padding-right: 4em;
  font-size: 90%;
}
body { font-family: 'Montserrat', sans-serif}
.remark-code, .remark-inline-code {
  font-family: 'Source Code Pro', monospace;
}
.remark-code-line-highlighted {
  background-color: #F0EC74;
}

/* Slide formats */
.title-slide {
  background-image: url(https://i.ibb.co/8j9kT1W/title-slide.png);
  background-size: cover;
  text-shadow: none;
}
.title-slide h1 {
  color: #165C7D;
  font-weight: bold;
}
.title-slide h3 {
  color: #165C7D;
  font-size: 120%;
  line-height: 0.5em;
}

.alt-slide {
  background-image: url(https://i.ibb.co/ChrLpq6/Slide-background-alt-footer.png);
  background-size: cover;
}

.alt-section {
  text-align: left !important;
}
.alt-section h1 {
  color: #165C7D;
  font-weight: bold;
  position: absolute;
  top: 60%;
}
.alt-section p {
 position: absolute;
 font-size: 120%;
 top: 55%;
}

.final-slide {
  background-image: url(https://i.ibb.co/pXPfG5k/final-slide.png);
  background-size: cover;
}
.final-slide h1 {
  text-align: center;
  position: absolute;
  font-weight: bold;
  left: 58%;
}
.final-slide p {
  position: relative;
  left: 65%;
  top: 3em;
  font-size: 28pt;
}
.final-slide a, a > code {
  font-size: 25pt;
  color: #000000;
}


/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}

/* Miscellaneous */
img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #eee }

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
